:root {
  --red: #FF002E;
  --yellow: #FFD600;
  --blue: #0FD4FF;
  --green: #00FF94;
  --white: #FFFFFF;
  --black: #000000;
  --black-secondary: #000D10;
  --white-secondary: #E7E7E7;

  --primary-font: 'Arial';
  --primary-font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    background-color: var(--red);

    h1 {
        text-align: center;
        font-family: var(--primary-font);
        font-size: 48px;
        font-weight: var(--primary-font-weight);

        span {
            display: block;
        }
    }

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            height: 43px;
            width: 320px;
            border-radius: 10px;
            font-size: 20px;
            border: none;
        }
            
        .header-button__dark {
            background-color: var(--black-secondary);
            color: var(--white-secondary);
        }
        .header-button__light {
            background-color: var(--white);
            color: var(--black);
        }
    }
}
main {
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;

    section {
        margin-top: 20px;
        article {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .section-one {
        order: 1;
        height: 643px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* duas colunas iguais */
        grid-auto-rows: auto; /* altura automática para as linhas */
        gap: 10px; /* espaçamento opcional */

        .full-width {
            grid-column: 1 / -1; /* ocupa as duas colunas */
        }

        article {
            background-color: var(--yellow);
            font-size: 40px;
            font-weight: var(--primary-font-weight);
        }
    }
    .section-two {
        order: 0;
        height: 421px;
        article {
            background-color: var(--green);
            font-size: 64px;
            font-weight: var(--primary-font-weight);
            height: 100%;
        }
    }
    .section-three {
        order: 2;
        height: 400px;
        article {
            background-color: var(--blue);
            font-size: 64px;
            font-weight: var(--primary-font-weight);
            height: 100%;
        }
    }
}

/* Tablet (768px+) */
@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop (1024px+) */
@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Efeitos de hover */
.cta-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}